{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/events.css" />
<script src="/static/js/events.js" defer></script>
{% endblock %} {% block title %}Events{% endblock %} {% block content %}

<h1 class="text-center">Events</h1>
<div class="fullscreen-layout">
  <div class="left-side">
    <div id="event-details">
      <!-- Event details will be displayed here -->
    </div>
  </div>
  <div class="right-side">
    <div class="section">
      <div class="table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Date/Time</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{ event.performer }}</td>
              <td>{{ event.location }}</td>
              <td>{{ event.date.day }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
