{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="/static/styles/events.css" />
<script src="/static/js/events.js" defer></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %} {% block title %}Events{% endblock %} {% block content %}
<div class="fullscreen-layout">
  <div class="left-side">
    <div id="event-details">
      <!-- Event details will be displayed here -->
    </div>
  </div>
  <div class="right-side">
    <div class="top-bar">
      <div class="category-card">
        {% if event_type == "all_events" %}
        <h3>All Events</h3>
        {% else %}
        <h3>{{event_type}}</h3>
        {% endif %}
      </div>
      <div class="white-space"></div>
      <div class="date-card" id="date-picker">
        <h3>Choose Date</h3>
      </div>
    </div>
    <div class="card">
      <div id="sticky-header" class="sticky-date-header"></div>
      <div class="table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Event</th>
              <th>Location</th>
              <th>Time & Tickets</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %} {% if loop.first or event.date.day.date()
            != events[loop.index0 - 1].date.day.date() %}
            <tr
              class="date-header"
              data-date="{{ event.date.day.strftime('%B %d') }}"
            >
              <td colspan="3">{{ event.date.day.strftime('%B %d') }}</td>
            </tr>
            {% endif %}
            <tr>
              <td>
                {{event.name}} {% if event.performer != event.name %}
                <br />
                {{event.performer}} {% endif %}
              </td>
              <td>
                {{ event.location }}
                <br />
                <a
                  href="{{event.links.details}}"
                  target="_blank"
                  class="btn btn-sm btn-secondary"
                  >More Details</a
                >
              </td>
              <td>
                {{ event.date.start_time.strftime('%I:%M %p') }}
                <br />
                <a
                  href="{{event.links.ticket}}"
                  target="_blank"
                  class="btn btn-sm btn-primary"
                  >Buy tickets</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
